.btn{
    margin-top:10px;
}
.form-label {
    margin-top: 10px;
    margin-left:3px;
}
input {
    margin-bottom: 5px;
    margin-top: 2px;
}
    input.invalid {
        background-color: #ffdddd;
    }
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #336699;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}


    .step.active {
        opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #c6d9ec;
    }
.label-container {
    display: flex;
    align-items: center;
}

.form-label {
    margin-right: 10px;
}
#nextBtn, #prevBtn {
    margin-bottom: 5px;
    margin-right: 5px;
}