@{
    ViewData["Title"] = "Home Page";
}
<section>
    <!-- Hero -->
    <div class="p-5 text-center bg-image rounded-6 bg-img">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text">
                    <a class="mb-3 header golden-outline">GET A GOLDEN OUTLINE</a>
                    <h6 class="mb-3">Welcome to Adventure Explorer</h6>
                    <div class="btn-tow">
                        <a asp-area="" asp-controller="Auth" asp-action="Login" style="margin-left: 1rem;" class="btn btn-primary">Login</a>
                        <a asp-area="" asp-controller="Auth" asp-action="Register" class="btn btn-primary">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero -->
</section>