@{
    ViewData["Title"] = "Home Page";
}
<section>
    <!-- Hero -->
    <div class="p-5 text-center bg-image rounded-6 bg-img">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text">
                    <a class="mb-3 header golden-outline">GET A GOLDEN OUTLINE</a>
                    <div class="btn-tow">
                        <a class="btn btn-primary btn-lg custom-button" asp-controller="Auth" asp-action="Login">Login</a>
                        <a class="btn btn-primary btn-lg custom-button" asp-controller="Auth" asp-action="Register">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero -->
</section>
