@model MotorServicesAndWashApp.Models.UserModel
@{
    ViewData["Title"] = "Register Page";
    List<ProvincesViewModel> provincesList = ViewBag.ProvincesList; // Assuming you set the data in the ViewBag from the controller
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 10px;">
                    <div class="card-body p-4 p-md-5">
                        <div class="text-center login-image">
                            <img src="~/img/34626839_8204639.png" alt="Login Image" width="80" height="75" />
                        </div>
                        <h5 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Registration</h5>
                        <form method="post" action="New-User">
                            @if (TempData["Message"] != null)
                            {
                                <div class="alert alert-primary" role="alert">
                                    @TempData["Message"]
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="txtfirstName">First Name</label>
                                        <input type="text" class="form-control" asp-for="firstName" />
                                        <span asp-validation-for="firstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="txtlastName">Last Name</label>
                                        <input type="text" class="form-control " asp-for="lastName" />
                                        <span asp-validation-for="lastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="txtemailAddress">Email</label>
                                        <input type="email" class="form-control" asp-for="email" />
                                        <span asp-validation-for="email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="txtphoneNumber">Phone Number</label>
                                        <input type="tel" class="form-control" asp-for="phoneNumber" />
                                        <span asp-validation-for="phoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="txtCity">Provinces</label>
                                        <select class="form-select" aria-label="Default select example" id="firstDropdown" onchange="loadDistrictsForProvince(this.value)">
                                            <option selected>Select Provinces...</option>
                                            @foreach (var province in provincesList)
                                            {
                                                <option value="@province.ProvincesId">@province.ProvincesName</option>
                                            }
                                        </select>
                                        <span asp-validation-for="city" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="txtHomeTown">District</label>
                                        <select class="form-select" id="secondDropdown">
                                            <option value="">Select a District...</option>
                                        </select>
                                        <span asp-validation-for="homeTown" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="txtHomeTown">Cities</label>
                                        <select class="form-select" id="secondDropdown">
                                            <option value="">Select a Cities...</option>
                                        </select>
                                        <span asp-validation-for="homeTown" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="txtPassword">Password</label>
                                        <input type="password" class="form-control" asp-for="password" />
                                        <span asp-validation-for="password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="txtConfirmPassowrd">Confirm Password</label>
                                        <input type="password" class="form-control" asp-for="confirmPassword" />
                                        <span asp-validation-for="confirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            @*Password*@
                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function loadDistrictsForProvince(selectedProvinceId) {
            $.ajax({
                type: "GET",
                url: "/GetDistrict/" + selectedProvinceId,
                success: function (data) {
                    $("#secondDropdown").empty();
                    data.forEach(function (item) {
                        $("#secondDropdown").append($('<option></option>').val(item.districtsId).text(item.districtsName));
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
}

